- model_class = Upload
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize
= link_to 'New upload', new_upload_path
br
= link_to 'Products', products_path
br
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:created_at)
      th= model_class.human_attribute_name(:status)
  tbody
    - @uploads.each do |upload|
      tr
        td= upload.id
        td= upload.file_file_name
        td= upload.created_at.strftime("%Y-%m-%d %H:%M")
        td= upload.state
br
br
= paginate @uploads
