- model_class = Upload
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize
= form_for @upload, html: { multipart: true } do |f|
  - if @upload.errors.any?
    ul
      - @upload.errors.full_messages.each do |message|
        li
          = message
  = f.select :data_type, Upload::DATA_TYPES
  = f.file_field :file
  br
  button.btn.btn-default class = "form-control btn-info" type="submit" style="width:200px" Send
