- model_class = Product
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize
br
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:sku)
      th= model_class.human_attribute_name(:supplier)
      th= model_class.human_attribute_name(:field_0)
      th= model_class.human_attribute_name(:field_1)
      th= model_class.human_attribute_name(:field_2)
      th= model_class.human_attribute_name(:field_3)
      th= model_class.human_attribute_name(:field_4)
      th= model_class.human_attribute_name(:field_5)
      th= model_class.human_attribute_name(:price)
  tbody
    - @products.each do |product|
      tr
        td= product.id
        td= product.sku
        td= product.supplier_uniq_ident
        td= product.field_0
        td= product.field_1
        td= product.field_2
        td= product.field_3
        td= product.field_4
        td= product.field_5
        td= product.price
br
br
= paginate @products
